* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Germania One', cursive;
/*font-family: 'Dosis', sans-serif;
font-family: 'Lobster', cursive;*/
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	/*grid-gap: 1rem;*/
	grid-auto-rows: minmax(50vh, auto);
	position: relative;
}

.wrapper div {
	background-color: rgb(0,0,0,.5);
}


.box1 {
	background-image: url('https://images.unsplash.com/photo-1522687297221-2d71f8c50fd5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
	background-size: cover;
	background-position: center center;
	border-radius: 5px;
}

.box2 {
	background-image: url('https://images.unsplash.com/photo-1455853739633-8c94c03d8121?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
	background-size: cover;
	background-position: center center;
	border-radius: 5px;
	/*position: relative;*/
}

.box3 {
	background-image: url('https://images.unsplash.com/photo-1529692236671-f1f6cf9683ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
	background-size: cover;
	background-position: center center;
	border-radius: 5px;
}

.box4 {
	background-image: url('https://images.unsplash.com/photo-1466065478348-0b967011f8e0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=744&q=80');
	background-size: cover;
	background-position: center center;
	border-radius: 5px;
}

.box2 .message-container {
	filter: alpha(opacity=20);
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 5px 10px 18px #fff;
}

.box2 .message-container h3 {
	color: white;
	font-size: 3rem;
	letter-spacing: .2rem;
	text-align: center;
}

.box2 .message-container h4 {
	color: white;
	font-size: 2rem;
	letter-spacing: .2rem;
	text-align: center;
	font-family: 'Dosis', sans-serif;
}

.box2 .message-container h4 {
	padding: 8px;
}

.box2 .message-container button {
	margin: 10px auto;
	padding: 10px;
	width: 100%;
	letter-spacing: .1rem;
}

.box2 .message-container button:hover {
	background-color: black;
	color: white;
	transition: 1s;
	border-radius: 5px;
}

.box1 {
	grid-column
}

/*start of signup page*/
.signup-page {
	height: 100vh;
	background: url('https://img5.goodfon.com/wallpaper/nbig/4/71/ovoshchi-avokado-pomidory-zelen.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 1%;
}

.signup-form {
	background: rgba(255,255,255,.8);
	border-radius: 5px;
	box-shadow: 2px 2px 10px black; 
}

.login-form {
	background: rgba(255,255,255,.8);
	border-radius: 5px;
	box-shadow: 2px 2px 10px black; 
}


label, input {
  	margin-bottom: 1px;
}

input::placeholder {
	color: red;
}

/*end of signup page*/


/*start of login page*/
.login-page {
	height: 100vh;
	background: url('https://img5.goodfon.com/wallpaper/nbig/4/71/ovoshchi-avokado-pomidory-zelen.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 5%;
}
/*end of login page*/



/*start of about page*/
.container {
	display: flex;
	max-width: 100vw;
}

.social-btns {
	height: 100%;
}

.about-content {
	height: 100%;
}	

p, 
td,
td a,
th
 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.1rem;	
}

.biggest-loser p,
.credits p {
	font-family: 'Caveat', cursive;
	font-size: 1.1rem;	
}


/*fun facts starts here*/

.fun-facts .card img {
	border: 2px solid black;
	filter: grayscale(100%);
	transition: 500ms;
	transition-delay: 500ms;
}

.fun-facts .card img:hover {
	box-shadow: 2px 2px 20px black;
	transition: 500ms;
	transform: rotate(-.5deg);
	filter: grayscale(10%);
}

/*fun facts ends here*/



/*icons*/
i.btn-facebook:hover {
	color: #385898;
}

i.btn-youtube:hover {
	color: #c4302b;
}

i.btn-twitter:hover {
	color: #38A1F3;
}

i.btn-instagram:hover {
	color:  #ae0e4c; 
}


.row-footer {
	background: #ddd;
	margin-top: 5%;
	font-size: 1rem;
	text-align: center;
	color: black;
}

.row-footer .col-lg-12 h1 {
	font-size: 3rem;
	text-align: center;
	color: black;	
}


.row-footer .col-lg-12 h5 {
	font-size: 1.1rem;
	text-align: center;
	color: black;	
}

ul.social-media.navbar-nav.text-center.mx-auto li a {
    background: white;
    width: 60px;
    height: 60px;
    color: #ddd;
    border-radius: 50%;
    margin-left: 10px;
    font-size: 25px;
}

ul.footer-nav.navbar-nav.text-center.mx-auto li a {
	font-size: 1.1rem;
	text-align: center;
	color: black;	
}

.row{
    margin: 0 auto!important;
}


img {
	width: 20%;
	height: 20%;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.social-btns,
	.food-side {
		display: none;
	}


} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
/*
	.social-btns {
		display: none;*/
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.signup-form {
		width: 100%;
		margin: 10% auto;
	
	}
} 
	
/* Large devices (laptops/desktops, 992px and up) */
/*@media only screen and (min-width: 992px) {


} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}
