* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Germania One', cursive;
/*font-family: 'Dosis', sans-serif;
font-family: 'Lobster', cursive;*/
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	/*grid-gap: 1rem;*/
	grid-auto-rows: minmax(50vh, auto);
	position: relative;
}

.wrapper div {
	background-color: rgb(0,0,0,.5);
}


.box1 {
	background-image: url('https://images.unsplash.com/photo-1522687297221-2d71f8c50fd5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
	background-size: cover;
	background-position: center center;
	border-radius: 5px;
}

.box2 {
	background-image: url('https://images.unsplash.com/photo-1455853739633-8c94c03d8121?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
	background-size: cover;
	background-position: center center;
	border-radius: 5px;
	/*position: relative;*/
}

.box3 {
	background-image: url('https://images.unsplash.com/photo-1529692236671-f1f6cf9683ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
	background-size: cover;
	background-position: center center;
	border-radius: 5px;
}

.box4 {
	background-image: url('https://images.unsplash.com/photo-1466065478348-0b967011f8e0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=744&q=80');
	background-size: cover;
	background-position: center center;
	border-radius: 5px;
}

.box2 .message-container {
	filter: alpha(opacity=20);
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 5px 10px 18px #fff;
}

.box2 .message-container h3 {
	color: white;
	font-size: 3rem;
	letter-spacing: .2rem;
	text-align: center;
}

.box2 .message-container h4 {
	color: white;
	font-size: 2rem;
	letter-spacing: .2rem;
	text-align: center;
	font-family: 'Dosis', sans-serif;
}

.box2 .message-container h4 {
	padding: 8px;
}

.box2 .message-container button {
	margin: 10px auto;
	padding: 10px;
	width: 100%;
	letter-spacing: .1rem;
}

.box2 .message-container button:hover {
	background-color: black;
	color: white;
	transition: 1s;
	border-radius: 5px;
}

.box1 {
	grid-column
}



/*ABOUT*/
.landing-about {
	background: #eee;
	border-radius: 0;
	font-family: 'Germania One', cursive;
	font-family: 'Dosis', sans-serif;
	font-family: 'Lobster', cursive;
}

.card-about h5 {
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
	text-align: justify;
}

.card-about p {
	font-family: 'Dosis', sans-serif;
	text-align: justify;	

}
